#root {
  width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 20em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  background: linear-gradient(180deg, #779eff 19.29%, #befafc 100%);
  background: grey;
}

/* BEGIN TimeSwitcher styling */
.TimeSwitcher {
  display: flex;
  background-color: green;
}
.switcher-mini-calendar {
  display: flex;
  flex-direction: column;
  background-color: pink;
  width: 5em;
  height: 5em;
  color: black;
  border-radius: 20px;
  overflow: hidden;
}
.switcher-mini-calendar-month {
  background-color: red;
  padding-top: 0.25rem;
}
.switcher-mini-calendar-date {
  font-size: 2rem;
  margin-top: 0.70rem;
}
/* END TimeSwitcher styling */


/* BEGIN ForecasterBox styling */
.ForecasterBox {
  /* background-color: purple; */
  margin-left: 6em;
  margin-right: 6em;
  height: 20em;
  display: flex;
}

.forecast-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: black;
  font-size: 7rem;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  text-align: center;
}

.forecast-left-num {
  margin-right: -4rem;
}

.forecast-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: linear-gradient(180deg, #000000ed 0%, #000000c9 100%);
  font-size: 8rem;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
/* END ForecasterBox styling */
