.App {
  background-color: purple;
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr 2fr;
  grid-template-areas: 
  'one three'
  'two three';
}

.wizard {
  grid-area: one;
  width: 20rem;
  height: 20rem;
}

.speeh-section {
  grid-area: two;
}

.weather-section {
  grid-area: three;
}


.RiveApp {
  background-color: green;
}

.full-screen {
 height: 100%;
 width: 100%;
}


/* BEGIN ForecasterBox styling */

.forecast-left-num {
  margin-left: 5rem;
  transition: --num 1s;
  counter-reset: num var(--num);
}

.forecast-left-num::after {
  content: counter(num);
}


/* END ForecasterBox styling */
