.App {
  background-color: purple;
}


.RiveApp {
  background-color: green;
}

.full-screen {
  width: 30rem;
  height: 30rem;
}


/* BEGIN ForecasterBox styling */

.forecast-left-num {
  margin-left: 5rem;
  transition: --num 1s;
  counter-reset: num var(--num);
}

.forecast-left-num::after {
  content: counter(num);
}


/* END ForecasterBox styling */
